.header{
    display:block;
    background-color: #1A4A1C;
    border-radius:10px;
    padding: 20px;
}

.table{
    padding-top:20px;
}

.page{
    padding-top:50px;
    padding:20px;
}

.footer{
    display:flex;
    justify-content:center;
}

.sides{
    padding-top: 10px;
}

.playerSide{
    width:50%;
    float:left;
}

.compSide{
    width:50%;
    float:right;
}
#valueDiv{
    display: flex;
    justify-content: center;
}
#moneyDiv{
    width:30%;
    float:right;
}
body{
    background-color:#308834;
    
}

.button{
    background-color:white;
    border-radius: 5px;
    border: solid 2px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    margin-left: 20px;
    
}

.active, .button:hover {
  background-color: #aaaaaa;
  color: white;
  -webkit-transition-duration: 0.5s;
    transition-duration: 0.3s;
}

.buttons{
    display:flex;
    justify-content:center;
    font-family: 'Norican', cursive;
    font-size:22px;
}

.face{
    height:171.28px;
    width:123.28px;
}
.cardC{
    height:171.28px;
    width:123.28px;
}
.ace{
    height:171.28px;
    width:123.28px;
}

.text{
    font-size:25;
    color:black;
    font-family: 'Norican', cursive;
}

.howtoplayTitle{
    text-align:center;
    font-family: 'Norican', cursive;
    color: white;
    
}

.instructions{
    font-size:20px;
}

.hand{
    font-size:25px;
}

#backtoGame{
    font-family: 'Norican', cursive;
}

.one{
   font-family: "Times New Roman", Times, serif;
    font-size:24px;
}
